[config]
prefix=/global/common/software/nersc/easybuild/perlmutter/21.10
sourcepath=/global/common/software/nersc/easybuild/sources
modules-tool=Lmod
hide-deps=Bison,DB,expat,flex,gettext,groff,help2man,hypothesis,libarchive,libevent,libfabric,libffi,libiconv,Libint,libpciaccess,libreadline,libcx,libxml2,libxsmm,makeinfo,pybind11,xorg-macros
minimal-toolchains=True
