[config]
prefix=/global/common/software/nersc/pm-2021q4/easybuild/
sourcepath=/global/common/software/nersc/easybuild/sources
robot-paths = $NERSC_EASYBUILD_DIR/easyconfigs:%(DEFAULT_ROBOT_PATHS)s
search-paths = $NERSC_EASYBUILD_DIR/easyconfigs::%(DEFAULT_ROBOT_PATHS)s
modules-tool=Lmod
hide-toolchains=GCCcore,gompi,gompic
hide-deps=APR-util,APR,ASE,binutils,Bison,Brotli,bzip2,Check,DB,Doxygen,expat,Flask,flex,fontconfig,freetype,gettext,groff,help2man,hypothesis,intltool,jbigkit,libarchive,libevent,libfabric,libffi,libiconv,Libint,libjpeg-turbo,libpciaccess,libpng,libreadline,LibTIFF,libtool,libvdwxc,libxc,libxml2,libxsmm,lz4,makeinfo,Meson,M4,ncurses,NASM,Ninja,OpenSSL,Pillow,pkg-config,pybind11,SCons,Serf,spglib-python,SQLite,Szip,Tk,Tkinter,utf8proc,UnZip,util-linux,X11,xorg-macros,zlib,zstd
minimal-toolchains=True
umask=002
optarch=x86-milan
